In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind, ttest_rel, wilcoxon, norm, shapiro
from scipy.ndimage import sobel
from scipy.misc import ascent
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from pingouin import multivariate_normality

## Multiple Choice

1. (a)
2. 
3. 
4. 
5.

## Short-Answer
6. $N_{H,+}$
7. 
8. 
9. 
10. $Z = {X - \mu \over \sigma} \sim N(0, 1)$

## Data Analysis
### Q11

In [2]:
np.random.seed(2)

X = np.random.gamma(1, 5, 1000)

Y = np.random.poisson(lam=5, size=1000)

### Q12

### Q13

In [4]:
diabetes = load_diabetes(as_frame=True)
db = diabetes.data
db.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

### Q14

### Q15

In [5]:
img = ascent()